{% extends "sms/base.html" %}

{#Resume here:#}
{#https://docs.djangoproject.com/en/3.1/topics/forms/#looping-over-the-form-s-fields#}

{% block content %}
<div class="form-page">
    <form action="" method="post" class="form-field">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}</p>
    {% if not forloop.last %}
    <hr/>
    {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="{{ submit_text }}">
    </form>
    </div>

{% endblock %}