{% extends "sms/base.html" %}

{% block body_class %}
<body class="registration-page">
{% endblock %}

{% block header %}
<header id="login-header">
    <div class="container-fluid heading">
        <h1>Lietotāja autorizācija</h1>
    </div>
</header>
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content_out %}
    <div class="registration-field">
        <div class="header">
            <i class="far fa-user"></i>
        </div>
        <form class="login-form" action="" method="post">
            <input class="form-control" type="text" id="username" name="username" required placeholder="Lietotājvārds"/>
            <input class="form-control" type="password" id="password" name="password" minlength="8"
                   required placeholder="Parole"/>
            <input type="submit" class="btn btn-primary" value="Ieiet">
        </form>
    </div>
{% endblock %}
